html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-size: 0.875rem;
  /* font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif; */
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
