.formControl {
  width: 100%;
  position: relative;

  &::before,
  &::after {
    border-color: #e2e8f0;
    word-wrap: break-word;
  }
}

.label {
  display: block;
  text-align: start;
  font-size: 1rem;
  margin-inline-end: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  transition: all 0.2s;
  opacity: 1;
}
