.inputCss {
  width: 100%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  appearance: none;
  transition: all 0.2s;
  font-size: 1rem;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
  height: 2.5rem;
  border-radius: 0.375rem;
  border: 1px solid;
  border-color: inherit;
  background: inherit;
}

.inputCss:hover {
  border-color: #cbd5e0;
}

.inputCss:focus {
  z-index: 1;
  border-color: #3182ce;
  box-shadow: 0 0 0 1px #3182ce;
}
